.appartment-page {
    color: #ff6060;
    padding-inline: 100px;
    
}
.appartment-banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 415px;
}
.slideCounter {
    position: absolute;
    bottom: 0%;
    right: 50%;
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat';
}
.appartment-banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.show {
    opacity: 1;
}
.noshow {
    opacity: 0;
}
.fa-chevron-left {
    position: absolute;
    bottom: 50%;
    font-size: 80px;
    color: white;
    margin-left: 23px;
    cursor: pointer;
    
}
.fa-chevron-right {
    position: absolute;
    right: 0%;
    bottom: 50%;
    font-size: 80px;
    color: white;
    margin-right: 23px;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 30px;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}
.appartment_description-content {
    display: flex;
    gap: 96px;
}

@media screen and (max-width:768px) {
    .appartment-page {
        padding-inline: 20px;
    }
    .appartment-banner {
        width: 100%;
        height: 255px;
    }
    .fa-chevron-left {
        font-size: 40px;
    }
    .fa-chevron-right {
        font-size: 40px;
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 14px;
    }
    .appartment_description-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 20px;
    }
}