.appartment-page {
    color: #ff6060;
    padding-inline: 120px;
    
}
.appartment-banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 415px;
}
.appartment-banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.show {
    opacity: 1;
}
.noshow {
    opacity: 0;
}
.fa-chevron-left {
    position: absolute;
    bottom: 50%;
    font-size: 100px;
    color: white;
    
}
.fa-chevron-right {
    position: absolute;
    right: 0%;
    bottom: 50%;
    font-size: 100px;
    color: white;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 30px;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}
.appartment_description-content {
    display: flex;
    gap: 96px;
}
