.appartment_description {
    position: relative;
    margin-bottom: 80px;
    flex-basis: 50%;
}

.description_title {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: -6%;
    margin: 0;
    background-color: #ff6060;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 16px;
}
i {
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.description_content {
    width: 99%;
    background-color: #F7F7F7;
    margin-top: 0;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 7px;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
}
.description_content p {
    animation: slide-in 0.5s ease-in-out;
}
.description_content p li {
    display: flex;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}